@charset "UTF-8";
/*padding-top: 70px;*/
body{}

body.body-white {
	background: #fff;
}

.content-min-height{
    min-height: 600px;
}
.clearfix:after { 
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden; 
} 
.clearfix {display: inline-block;}
.right{float:right;}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-right: 0px;
	margin-left: 0px;
}
    .headicon{
        margin: 0 5px;
        height: 30px;
        border-radius: 19px;
        -webkit-border-radius: 19px;
        -moz-border-radius: 19px;
    }
    .search-query{
      width: 70%;   
    }
    .navbar-search {
        position: relative;
        float: left;
        margin-top: 10px;
        margin-bottom: 0;
        height:35px;
    }

    .navbarbg
    {
        background-color: #000;
    }
    .navbar-nav-ul-padding-top>li>a {
        float: none;
        padding: 0px 15px 25px;
        color: #666;
        //text-shadow: 0 1px 0 #666; 
    }
    .navbar-default {
        background-color: #000;
        border-color: #000;
    }
    .navbar {
        margin-bottom: 10px;
        margin-top: 10px;
        overflow: visible;
    }
    .navbar-nav {
        margin-bottom: 0px;
        margin-left: 0;
        list-style: none;
        
    }
    .navbar-default .navbar-nav > li:hover .dropdown-menu {
	display: block;
}
    .navbar-nav-ul-padding-top{
        padding-top: 15px;
    }
    .navbar-nav-userinfo-padding-top{
        padding-top: 11px;
        margin-left: 10px;
    }
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
        color: #fff;
        //text-shadow: 0 1px 0 #fff; 
        //background-color: transparent;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {

        color: #fff;
        background-color: #000;
    }
    
    .dropdown-menu{ background-color:#000; padding-top: 20px}
    .dropdown-menu > li > a {
        color: #fff;
      }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
      text-decoration: none;
      color: #fff;
      background-color: #f5f5f5;
    }
/*tc widget*/
.tc-main {
	margin-top: 20px;
}
/*tc-box*/
.tc-box {
	background: #fff;
	padding: 5px 10px;
	/* margin: 10px 0; */
}

.tc-box.first-box {
	margin: 0 0 10px 0;
}
#treelist{border:1px solid #f0f0f0;}
.tc-box.article-box {
	background:#fafafa;
	padding: 5px 20px;
}

.menu li{}
.menu li .arrow-right{display:inline-block;line-height:11px;}
.article-title{width:100%;border-bottom:1px #A8A8A8 solid;padding-top:15px;padding-bottom:20px;margin-bottom:18px;}
.article-title .left{font-size:26px;color:#000000; margin-left: 19px;}
.article-title .right{font-size:14px;    margin-right: 19px;}
.article-infobox{line-height:40px;display:block;}
div.snavbar{box-shadow:none;}
.snav li{background:white;display:block;border-radius:20px;border:1px solid #cccccc;margin-right:15px;}
.snav li a{font-size:15px !important;color:#1B1B1B !important;padding:6px 12px 6px !important;}
.snav li:hover{border:1px solid #0FB3F0;}
.snav li a:hover{color:#0FB3F0 !important;background:none !important;}
.snav .aselected{color:#0FB3F0 !important;}
.snav .liselected{border:1px solid #0FB3F0 !important;}
#article_statistic{width:100%;height:28px;line-height:28px;padding-bottom:3px;border-bottom:1px #A8A8A8 solid;}
#article_statistic .left{height:28px;line-height:28px;}
#article_operate{text-align:center;padding-top:100px;padding-bottom:100px;}
#article_operate .ope-wrap{display:inline-block;text-align:center;width:100px;}
#article_operate #favit{width:100px;height:100px;border-radius:50px;background:#FF715B url('../images/star.png') 50% 50% no-repeat;}
#article_operate #goodit{color:white;width:100px;height:100px;border-radius:50px;background:#1DAFEC url('../images/fav.png') 50% 50% no-repeat;}
.ope-name{margin-top:20px;color:#303133;font-size:17px;}
/*向下箭头 ，类似 V*/
.arrow-down{
            width: 0px;
            height: 0px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #b3b3b3;
            font-size: 0px;
            line-height: 0px;
            margin-left: -8px;
        }
/*向右的箭头：只有三个边：上，下，左。而|>总体来看，向右三角形的高=上+下边框的长度。宽=左边框的长度*/
.arrow-right {
            width: 0px;
            height: 0px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid #b3b3b3;
            font-size: 0px;
            line-height: 0px;
        }
/*tc-box end */

/* The blog boxes */
/*.tc-gridbox {
  background-color: #ececec;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 1px #a8a8a8;
  -moz-box-shadow: 0px 1px 1px #a8a8a8;
  box-shadow: 0px 1px 1px #a8a8a8;
  margin-bottom: 40px;
}*/
.tc-gridbox {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: solid 1px #ddd;
	background: #fff;
	cursor: pointer;
}

.tc-gridbox:hover {
	border: solid 1px #ccc;
	-webkit-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.1);
	box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.1);
}

.tc-gridbox a {
	text-decoration: none;
}

@media ( min-width : 768px) and (max-width: 979px) {
	.tc-gridbox {
		display: block;
		float: none;
		width: 95%;
	}
}

.tc-gridbox .header {
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
	background: #fff;
}

.tc-gridbox .footer {
	padding: 5px 14px 5px 14px;
	text-align: right;
	background: #fff;
}

.tc-gridbox .header .item-image {
	overflow: hidden;
}

.tc-gridbox .header img {
	margin-bottom: 5px;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.tc-gridbox .header img:hover {
	-webkit-transform: scale(1.2) rotate(2deg);
	-moz-transform: scale(1.2) rotate(2deg);
	-o-transform: scale(1.2) rotate(2deg);
	-ms-transform: scale(1.2) rotate(2deg);
	transform: scale(1.2) rotate(2deg);
}

.tc-gridbox .header h3 {
	color: #454a4e;
	margin: 0 5px;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 24px;
}

.tc-gridbox .header h3 a, .tc-gridbox .header h3 a:focus, .tc-gridbox .header h3 a:hover
	{
	color: #454a4e;
	white-space: nowrap;
}

.tc-gridbox .header .meta {
	color: #5a6065;
}

.tc-gridbox .header hr {
	border-top-color: #ced5db;
	border-bottom: none;
	margin: 5px 0;
}

.tc-gridbox .body {
	padding-right: 14px;
	padding-left: 14px;
	margin-bottom: 14px;
	color: #343a3f;
}

.tc-gridbox .body a {
	color: #666;
}

.tc-gridbox .body a:hover {
	color: #428bca;
}

.tc-gridbox .btn {
	float: right;
	margin-right: 10px;
	margin-bottom: 18px;
}

/*masonary*/
#container .item {
	margin-bottom: 20px;
}

#container .item h3 {
	line-height: 100%;
}

#container .grid-sizer, #container .item {
	width: 23%;
	margin: 10px 1%;
	float: left;
	zoom: 1;
}

@media ( max-width : 479px) {
	#container .grid-sizer, #container .item {
		width: 98%;
		margin: 10px 1%;
		float: left;
		zoom: 1;
	}
}

@media ( min-width : 480px) and (max-width: 767px) {
	#container .grid-sizer, #container .item {
		width: 48%;
		margin: 10px 1%;
		float: left;
		zoom: 1;
	}
}

/*list Boxes
------------------------------------*/
.list-boxes {
	overflow: hidden;
	padding: 15px 20px;
	margin-bottom: 25px;
	background: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-top: solid 2px #fff;
	word-wrap: break-word;
	word-break: break-all;
}

.list-boxes:hover {
	border-top: solid 2px #f90;
}

.list-boxes h2 a {
	color: #555;
}

.list-boxes:hover h2 a {
	color: #f90;
}

.list-boxes .list-actions a {
	font-size: 16px;
	text-decoration: none;
}

.list-boxes p a {
	color: #72c02c;
}

.list-boxes .list-boxes-img li i {
	color: #72c02c;
	font-size: 12px;
	margin-right: 5px;
}

.list-boxes .list-boxes-img img {
	display: block;
	margin: 5px 10px 10px 0;
}

.list-boxes h2 {
	margin-top: 0;
	font-size: 20px;
	line-height: 20px;
}

.list-boxes ul.list-boxes-rating li {
	display: inline;
}

.list-boxes ul.list-boxes-rating li i {
	color: #f8be2c;
	cursor: pointer;
	font-size: 16px;
}

.list-boxes ul.list-boxes-rating li i:hover {
	color: #f8be2c;
}

/*list Colored Boxes*/
.list-boxes-colored p, .list-boxes-colored h2 a, .list-boxes-colored .list-boxes-img li,
	.list-boxes-colored .list-boxes-img li i {
	color: #fff;
}

/*Red list Box*/
.list-boxes-red {
	background: #e74c3c;
}

/*Blue list Box*/
.list-boxes-blue {
	background: #3498db;
}

/*Grey list Box*/
.list-boxes-grey {
	background: #95a5a6;
}

/*Turquoise list Box*/
.list-boxes-sea {
	background: #1abc9c;
}

/*Turquoise Top Bordered list Box*/
.list-boxes-top-sea {
	border-top: solid 2px #1abc9c;
}

.list-boxes-top-sea:hover {
	border-top-color: #16a085;
}

/*Yellow Top Bordered list Box**/
.list-boxes-top-yellow {
	border-top: solid 2px #f1c40f;
}

.list-boxes-top-yellow:hover {
	border-top-color: #f39c12;
}

/*Orange Left Bordered list Box**/
.list-boxes-left-orange {
	border-left: solid 2px #e67e22;
}

.list-boxes-left-orange:hover {
	border-left-color: #d35400;
}

/*Green Left Bordered list Box**/
.list-boxes-left-green {
	border-left: solid 2px #72c02c;
}

.list-boxes-left-green:hover {
	border-left-color: #5fb611;
}

/*Green Right Bordered list Box**/
.list-boxes-right-u {
	border-right: solid 2px #72c02c;
}

.list-boxes-right-u:hover {
	border-right-color: #5fb611;
}

/*comments*/
/*comments*/
.comment{
	margin-bottom: 10px;
}
.comment .avatar{height: 40px;width:40px;    border-radius: 19px;-webkit-border-radius: 19px;-moz-border-radius: 19px;}
.comment-body{overflow: hidden;}
.comment-content{
	padding-bottom: 2px;
word-break: break-all;
word-wrap: break-word;
}

.comment>.pull-left {
margin-right: 10px;
}

.comment .time{
	color:#ccc;
	font-size: 12px;
	line-height: 14px;
}
.comment-postbox-wraper{padding-right:22px; }
.comment-postbox{width: 100%;padding: 10px;}

.comment-reply-box{position: relative;padding-right:14px;}
.comment-reply-box .textbox{width: 100%}

/*ranking box*/
.ranking ul.unstyled li {
	padding: 5px 0;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 1px dashed #f0f0f0;
}

.ranking ul.unstyled li i {
	margin-right: 5px;
}

.ranking li i {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-right: 15px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	background-color: #aaa;
}

.ranking li.top3 i {
	background: #FC9B0B;
}

/*comment ranking box*/
.comment-ranking .comment-ranking-inner {
	padding: 10px;
	background: #f7f7f7;
	position: relative;
	margin-bottom: 10px;
	/*border-top: solid 2px #eee;*/
}

.comment-ranking .comment-ranking-inner, .comment-ranking .comment-ranking-inner:after,
	.comment-ranking .comment-ranking-inner:before {
	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.comment-ranking .comment-ranking-inner:after, .comment-ranking .comment-ranking-inner:before
	{
	width: 0;
	height: 0;
	right: 0px;
	bottom: 0px;
	content: " ";
	display: block;
	position: absolute;
}

.comment-ranking .comment-ranking-inner:after {
	border-top: 15px solid #eee;
	border-right: 15px solid transparent;
	border-left: 0px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-right-style: inset; /*FF fixes*/
}

.comment-ranking .comment-ranking-inner:before {
	border-bottom: 15px solid #fff;
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}

.comment-ranking .comment-ranking-inner:hover {
	border-color: #FC9B0B;
	border-top-color: #FC9B0B;
	background: #f0f0f0;
}

.comment-ranking .comment-ranking-inner:hover:after {
	border-top-color: #FC9B0B;
}

.comment-ranking .comment-ranking-inner span.comment-time {
	color: #777;
	display: block;
	font-size: 11px;
}

.comment-ranking .comment-ranking-inner a {
	text-decoration: none;
}

.comment-ranking .comment-ranking-inner a:hover {
	text-decoration: underline;
}

.comment-ranking .comment-ranking-inner i.fa {
	top: 2px;
	color: #bbb;
	font-size: 18px;
	position: relative;
}

/*ThinkCMF Photos*/
ul.tc-photos {
	margin: 0;
}

.tc-photos li {
	display: inline;
}

.tc-photos li a {
	text-decoration: none;
}

.tc-photos li img {
	opacity: 0.6;
	width: 50px;
	height: 50px;
	margin: 0 2px 8px;
	border: 1px solid #ddd;
}

.tc-photos li img:hover {
	opacity: 1;
	border: 1px solid #f90;
	/* box-shadow: 0 0 0 1px #f90; */
}

/**/

/*Blog Posts
------------------------------------*/
.posts .dl-horizontal a {
	
}

.posts .dl-horizontal {
	margin-bottom: 15px;
	overflow: hidden;
}

.posts .dl-horizontal dt {
	width: 60px;
	float: left;
}

.posts .dl-horizontal dt .img-wraper {
	display: block;
	width: 55px;
	height: 55px;
	padding: 1px;
	margin-top: 2px;
	border: solid 1px #ddd;
}

.posts .dl-horizontal dt img {
	width: 100%;
	height: 100%;
	/* width: 55px; 
	height: 55px;
	padding: 1px;
	margin-top: 2px; 
	border: solid 1px #ddd; */
}

.posts .dl-horizontal dd {
	margin-left: 70px;
}

.posts .dl-horizontal dd p {
	margin: 0;
}

.posts .dl-horizontal dd a {
	font-size: 14px;
	line-height: 16px !important;
}

.posts .dl-horizontal dd a:hover {
	text-decoration: none;
}

.posts .dl-horizontal:hover dt img, .posts .dl-horizontal:hover dd a {
	color: #FC9B0B;
	border-color: #FC9B0B !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.navbar-collapse{
	padding-left: 0px;
	padding-right: 0px;
}
#footer{
	background: #000000;
	padding-top: 15px;
	padding-bottom: 15px;
        text-align: center;
        color: #ffffff;
        //杨啸2015/10/28
}
#footer li{
    color: #1DAFEC;
}
#footer dl{
    text-align: left;
}
#footer dt{
    line-height: 40px;
    font-size: 16px;
    color: #e8e8e8;
}
#footer dd{
    font-size: 14px;
    line-height: 30px;
    margin: 0;
}
#footer .coptyight{
    color: #a8a8a8;
    
}
#footer dd a{
    color: #a8a8a8;
}
#footer dd a:hover{
    color: #fff;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	font-size: inherit;
	margin-bottom: 0px;
	margin-top: 0px;
}

/* bootstrap3 define*/

.modal-content {
	border-radius: 5px;
}
.modal {
	top: 8%;
}
#backtotop {
	position: fixed;
	bottom: 50px;
	right: 20px;
	display: none;
	cursor: pointer;
	font-size: 50px;
	z-index: 9999;
}

#backtotop:hover {
	color: #333
}
//列表页分类标题
.list-type-title{

}
.list-type-title p{
    margin: 0;
}
.list-type-title hr{
    margin: 0 0 10px 0;
}

.label-radius{
    text-align: center;
    padding: 4px 25px 4px 25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px #31a1ef double;
    //color: #00aeef; 
        line-height: 15px;
}

.label-radius:hover{
    color: #fff; 
    background-color:#31a1ef;
}

.label-radius-fff{
    text-align: center;
    padding: 4px 18px 4px 18px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px #fff double;
    color: #fff; 
    line-height: 15px;
}
.label-radius-fff:hover{
    color: #000; 
    background-color:#fff;
}

